/* CSS FOR VEGAN RECIPES SITE */

html{
	background-color: #fffdd0;
	font-family: 'Raleway', sans-serif;
}

main{
	width: 1200px;
	min-height: 800px;
	margin: 0 auto;
}

hr{
	border: 1px solid #4b7d4b;
}

a{
	color: #4b7d4b;
	text-decoration: none;
}

a:hover{
	font-weight: bolder;
}

li{
	color: #4b7d4b;
}

footer{
	margin-top: 0px;
	color: #383d38;
	font-size: 12px;
}

.text1{
	color: #4b7d4b;
	font-size: 20px;
	text-align: center;
}

.text1-bold{
	color: #4b7d4b;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.title{
	color: #383d38;
	font-size: 30px;
	font-weight: normal;
	padding-bottom: 20px;
}

.text2-bold{
	color: #fa9302;
	font-size: 16px;
}

.text2-bold{
	color: #fa9302;
	font-weight: bold;
	font-size: 16px;
}

.text3-bold{
	color: #4b7d4b;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.text3{
	color: #4b7d4b;
	font-size: 16px;
	text-align: center;
}

.content-bottom{
	display: block;
	text-align: center;
	font-size: 16px;
	color: #383d38;
}

/*-----------------MENU-----------------*/
#menu{
	width: 100%;
	height: 100px;
	float: left;
	padding: 0px;
	margin: 0px;
	display: inline;
	border-bottom: 1px solid #4b7d4b;

}

#menu ul{
	list-style: none;
}

#menu li{
	display: inline-block;
	padding-left: 20px;
}

#menu a,label{
	text-decoration: none;
	float: left;
	padding: 30px, 30px;
	transition: 0.2s;
	color: #4b7d4b;
	display: inline-block;
	cursor: pointer;
}

#menu a:hover{
	background-color: #4b7d4b;
	color: #fff;
}

#menu label:hover{
	background-color: #4b7d4b;
	color: #fff;
	font-weight: bold;
	-webkit-transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
	transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}

#menu img{
	width:50px;
	height:50px;
	padding-left: 10px;
}

#menu h1{
	display: inline;
	font-size: 25px;
	color: #4b7d4b;
}


/*-----------------BANNER-----------------*/
#banner{
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

#banner figure{
	width: 100%;
	height: 400px;
	overflow: hidden;
}

#banner img{
	border-radius: 10px;
}

/*-----------------CONTEÚDO PÁGINA-----------------*/

#conteudo-pagina img{
	border-radius: 10px;
}	


/*-----------------MODAL-----------------*/
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s 0.5s ease-in-out;
	transition: all 0.5s 0.5s ease-in-out;
}

.modal-content {
	padding: 10px;
	max-width: 600px;
	min-width: 360px;
	max-height: 85%;
	overflow: auto;
	position: absolute;
	top: 5%;
	left: 50%;
	z-index: 2;
	opacity: 0;
	border-radius: 3px;
	background: #fff;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	text-align: center;
}

.modal-content img {
	display: block;
	width: 8%;
	height: 8%;
	margin: 10px 0 0;
	text-align: center;
	display: inline;
}

.modal-content ul{
	text-align: center;
	display: inline;
}

.modal-content li{
	display: inline-block;
}

.modal-close {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
}

.modal-close:after {
	content: "X";
	float: right;
	margin: 5px 5px 0 0;
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 3;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	background-color: rgba(255,255,255,0.8);
	border-radius: 20px;
	box-shadow: 0 0 3px #000;
}

input[id*="modal_"] {
	position: fixed;
	left: -9999px;
	top: 50%;
	opacity: 0;
}

input[id*="modal_"]:checked + div.modal {
	opacity: 1;
	visibility: visible;
	-webkit-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
}

input[id*="modal_"]:checked + div.modal .modal-content {
	opacity: 1;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	-webkit-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	transition-delay: 0.5s;
}